<div class="container">
  <h1 class="page-header">Edit</h1>
  <form action=<%= "/reminder/update/" + reminderItem.id %> method="POST">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" name="title" class="form-control" id="titleInput" value="<%= reminderItem.title %>">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="descriptionInput" rows="3" placeholder="Description" name="description"><%= reminderItem.description %></textarea>
    </div>

    <!-- a date selector            not connected to anything yet       need to connect to ejs -->
    <div class="date-right">
      <label for="remindDate">Remind Date:</label>

      <input class="date" type="date" id="remindDate" name="remindDate"
              value="<%= reminderItem.remindDate %>"
              min="2019-01-01" max="2023-12-31">

    </div>
    
    <div class="form-group">
      <label for="completed">Completed</label>
      <div class="radio">
        <label>
          <% if (reminderItem.completed == true) { %>
            <input type="radio" name="completed" id="true" value="true" checked="checked">
          <% } else { %>
            <input type="radio" name="completed" id="true" value="true">
          <% } %>
          True
        </label>
      </div>

      <div class="radio">
        <label>
          <% if (reminderItem.completed == false) { %>
            <input type="radio" name="completed" id="false" value="false" checked="checked">
          <% } else { %>
            <input type="radio" name="completed" id="false" value="false">
          <% } %>
          False
        </label>
      </div>
      <div class="form-group">
        <label class="tags-label" for="add">Tags</label>
        <div id="tagDiv">
          <br/>
          <% let tagIndex = 0;
          reminderItem.tags.forEach(function(tag) { %>
            <p id="<%= tagIndex %>">
              <input type="text" class="form-tag" name="tag" value=<%= tag %>>
              <!-- error is indicated here, but code runs normally and no error is logged in console -->
              <a onclick="removeTag(<%= tagIndex %>)">Remove</a>
            </p>
          <% tagIndex += 1}); %>
        </div>
        <br/>
        <input type="button" class="btn btn-default" id="tagButton" value="Add Tag" name="add">
        <br/>
      </div>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

      
<script>
  // writing script in html because simpler than accessing from an external file, due to dynamic directory name (1, 2, 3)
  let add = document.getElementById("tagButton");
  let tagDiv = document.getElementById("tagDiv");
  add.onclick = function () {
    let p = document.createElement("p");
    tagDiv.appendChild(p);
    let newTag = document.createElement("input");
    newTag.type = "text";
    newTag.class = "form-tag";
    newTag.placeholder = "Tag name";
    newTag.name = "tag";
    let remove = document.createElement("a");
    remove.innerHTML = "Remove";
    remove.onclick = function () {
      p.parentNode.removeChild(p);
      newTag.parentNode.removeChild(newTag);
      remove.parentNode.removeChild(remove);  // present for future styling, classes currently do nothing
    }
    tagDiv.appendChild(newTag);
    tagDiv.appendChild(remove); // note that the space btw input and remove is different from edit page, unsure as to why
  }

  // remove existing tag input
  function removeTag (tagIndex) {
    let tag = document.getElementById(tagIndex);
    tag.parentNode.removeChild(tag);
  }
</script>
