<div class="container">
  <h1 class="page-header">Reminders</h1>

    <ul class="list-group">
      <li class="list-group-item">
        <h3><strong><%= reminderItem.title %>: </strong></h3>
        <h4><%= reminderItem.description %></h4>
        <div><b>Date: </b><%= reminderItem.remindDate %></div>
        <h4>Completed:
          <% if (reminderItem.completed == true) { %>
            <span class="label label-success">True</span>
          <% } else if (reminderItem.completed == false) { %>
            <span class="label label-danger">False</span>
          <% } %>
        </h4>
        <!--
          <form method="get" action="file.doc">
            <button type="submit">Download!</button>
          </form>
        -->
        <a class="btn btn-warning" href=<%= "/reminder/" + reminderItem.id + "/download" %>>Download</a>
        <a class="btn btn-warning" href=<%= "/reminder/" + reminderItem.id + "/edit" %>>Edit</a>
        <!--
        <form class="download form"method="POST" action=<%= "/reminder/download/" + reminderItem.id %>>
          <button type="submit" class="btn btn-warning">Download</button>
        </form>
        <form class="btn btn-warning "method="POST" action=<%= "/reminder/edit/" + reminderItem.id %>>
          <button type="submit" class="btn btn-warning">Edit</button>
        </form>
      -->
      
        <form class="deleteForm "method="POST" action=<%= "/reminder/delete/" + reminderItem.id %>>
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>

      </li>
    </ul>

</div>

      
  </script>